header{
    width: auto;
    height: 15rem;
    background-color: whitesmoke;
    margin: 0 5px 10px;
}
header .logo img{
    max-height: 12rem;
}
main{
    width: 100%;
    background-color: white;
    align-items: flex-start;
}

main .cars img{
    width: auto;
    height: 15rem;

}
.cars{
    margin: 1rem;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
}
.box{
    border: 1px;
    border-radius: 5%;
    font-family: sans-serif;
    text-align: center;
    color: black;

}